
*{
	margin:0;
	padding:0;
	box-sizing: content-box;
	font-family: 'Noto Sans KR', sans-serif;
	font-family: 'Noto Serif KR', serif;
}
.container{
	border: 1px solid #F2F4F7;
	float: right;
	width: 1300px;
	height:1300px;
	float: left;
	background-color: #F2F4F7;
	border-radius:10px 10px 10px 10px;
}
p{
	margin:20px;
}
.div_1{
	border:1px solid gray;
	border-radius: 10px 10px 10px 10px;
	width:300px;
	margin:10px;
	background-color:#fff;
	text-align: left;
	float:left;
	
}
.div_2{
	border:1px solid gray;
	border-radius: 10px 10px 10px 10px;
	width:300px;
	margin:10px;
	background-color:#fff;
	text-align: left;
	clear:both;

}
.div_3{
	border:1px solid gray;
	border-radius: 10px 10px 10px 10px;
	width:300px;
	margin:10px;
	float:left;
	background-color:#fff;
	text-align: left;

}
.div_4{
	border:1px solid gray;
	border-radius: 10px 10px 10px 10px;
	width:300px;
	margin:10px;
	clear:both;
	background-color:#fff;
	text-align: left;
}
.div_5{
	border:1px solid gray;
	border-radius: 10px 10px 10px 10px;
	width:300px;
	margin:10px;
	float: left;
	background-color:#fff;
	text-align: left;	
}
footer{
	position:fixed;
	bottom: 10px;
	right:690px;
}
button{
	margin:5px;
}
.button_no{
	background-color:#E4E4E4;
	color:#666666;
	border:none;
	width:70px;
	height:30px;
	border-radius: 5px 5px 5px 5px;
}
.button_yes{
	background-color:#FFDEAC;
	border:none;
	width:70px;
	height:30px;
	border-radius: 5px 5px 5px 5px;
}
@font-face {
	font-family: ;
	src: url();
}
