* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	background-color: #d6ffb2;
	width: 1400px;
	height: 900px;
	margin-left: 200px;
	margin-top: 80px;
	padding: 60px;
	position: relative;
}

.create_at {
	font-size: 1.2rem;
	font-weight: lighter;
	margin-bottom: 15px;
}

.ch-name {
	font-size: 1.5rem;
	margin-bottom: 15px;
	font-weight: bold;
}

.progress {
	width: 100%;
	height: 50px;
    appearance: none;
	margin-bottom: 70px;
}
.progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius: 25px;
    box-shadow: inset 3px 3px 10px #ccc;
}
.progress::-webkit-progress-value {
    border-radius: 25px 25px 25px 25px / 25px 0 0 25px;
    background: #62B6F5;
    background: -webkit-linear-gradient(to right, #86DCF4, #62B6F5);
    background: linear-gradient(to right, #86DCF4, #62B6F5);

}

button {
	width: 100%;
	height: 100px;
	margin-bottom: 30px;
	background-size: cover;
	border-radius: 15px;
	text-align: left;
	padding-left: 30px;
	background: url("../src/in_progress.jpg");
	background-size: cover;
	opacity: 0.8;
}

.pro-menu, .pro-clear {
	display: inline-block;
	color: #fff;
	font-size: 1.5rem;
}

.pro-clear {
	position: absolute;
	right: 150px;
}

img {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 50px;
	bottom: 40px;
}