* {
	margin: 0;
	padding: 0;
}

.h_header {
	display: inline-block;
	color: #FFCACA;
	font-size: 2rem;

	background-color: white;
	
	width: 100%;
	height: 80px;
	line-height: 80px;
	margin-left: 30px;
	position: absolute;
	top: 0;
}
