* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: aquamarine;
	height: 80px;
}

.main-tit {
	display: inline-block;
	color: #FFCACA;
	font-size: 2rem;
	margin: 20px 50px
}

